#active-geo-button {
    float: right;
    border: solid;
    font-size: 1em;
    height: 120px;
    width: 120px; 
    border-color: rgb(0, 255, 213);
    border-width: 6px;
    opacity: 1;
}

#inactive-geo-button {
    float: left;
    font-size: .8em;
    opacity: .7;
    height: 90px;
    width: 90px; 
}
