#active-var-button {
    font-size: .8em;
    height: 100px;
    width: 100px;
    /* border: solid;
    border-color: orangered; */
    opacity: 1;
    border-width: 5px;
    line-height: .9em;
}

#inactive-var-button {
    font-size: .5em;
    height: 80px;
    width: 80px;
    opacity: .8;
}