#map-container {
    width: 50%;
}

#banner {
    color: whitesmoke;
    text-align: center;
    background-color: black;
    position: absolute;
    font-size: 5em;
    float: right;
    right: 20px;
    top: -20px;
    width: 30%;
    border-radius: 20px;
}

.data-selector {
    width: 60%;
    height: 120px;
    margin-bottom: 10px;
}

.table-container {
    float: left;
    width: 100%;
    /* margin-left: 1%; */
    /* float: right; */
    height: 100%;
    overflow: scroll;
}

.table-and-button-container {
    float: left;
    width: 39%;
    margin-left: 1%;
    /* float: right; */
    height: 30%;
    /* overflow: scroll; */
}