.data-table {
    float: left;
    width: 100%;
    /* height: 500px; */

    /* background-color: blanchedalmond; */
    /* border: 2px solid black; */
    overflow: auto;
    font-size: .9em;
}

.odd-row {
    background-color: rgba(231, 231, 231, 0.897);
}

.odd-row :hover {
    background-color: rgba(185, 164, 164, 0.897);
}

.even-row :hover {
    background-color: rgba(185, 164, 164, 0.897);
}

.header-row, .column-2 {
    text-align: left;
    padding-left: 20px;
}

#sel-var-row {
    background-color: rgb(163, 125, 199);
    font-size: 1.2em;
}

/* .column-1 {
    width: 5%;
} */